<!DOCTYPE html>
<html>
  <head>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" ref="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <% if (mobile == "true") { %>
      <link href="stylesheets/m_style.css" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div class="sc-faq">
      <div class="container"><a href="/"><div class="sc-faq-back">&larr; back</div></a></div>
      <div class="sc-faq-container container">
        
        <div class="h1" style="margin-top: 0px">FAQ</div>
        <div>If you don't see a question that you want to ask below, please reach us at <a href="mail:meatface@siren.mobi">meatface@siren.mobi</a>.</div>
        
        <br>
        
        <div class="sc-faq-questions h3">
          What is Meatface? 
        </div>
        <div class="sc-faq-answer">
        The entire interface of many popular dating apps is designed to objectify users for easy swiping. Meatface is a campaign to turn that swipe-to-reject interface into a literal version of the meat market it really is. Just take a MeatFace selfie on this site and set it as your dating app profile picture. Changing your profile to a MeatFace even for a day reclaims personal agency: the only time people should look at you like a piece of meat is if you choose it.
        </div>
        <br>
        
        <div class="sc-faq-questions h3">
          How do we want things to change?
        </div>
        <div class="sc-faq-answer">
          MeatFace is absurdist but at its core we are calling for a shift towards quality social interaction. We recognize that those superficial dating apps aren't inherently bad, but the swipe paradigm has become synonymous with online dating as a whole, and there are other options available.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Who made MeatFace?
        </div>
        <div class="sc-faq-answer">
          MeatFace is a bicoastal collaboration between <a href="http://www.siren.mobi" target="_blank">Siren</a>, a dating app based in Seattle, and <a href="http://www.hellovelocity.com" target="_blank">Hello Velocity</a>, a creative studio in New York. Both companies were founded by artists to breathe new life into their respective fields.
          <br>
          <br>
          Siren is the first dating app based on getting to know new people through conversation, the way you would in real life.
          <br>
          <br>
          Hello Velocity uses marketing as medium to create exciting content with real social value. 
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          How can people get involved?        
        </div>
        <div class="sc-faq-answer">
          Take a Meatface Selfie and share it! While we would love to see our MeatFaces flood online dating sites as profile pictures, our main goal is to open a conversation about objectification and online dating. We want to see MeatFaces on Twitter and Facebook, screenshots of Meatface Tinder conversations, or even just your reactions to the campaign and how our online dating profiles can be #MoreThanMeat. 
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Why meat?
        </div>
        <div class="sc-faq-answer">
          If you strip away personality, the human body is just a hunk of meat, literally. 
        </div>
        <br>
        
        <div class="sc-faq-questions h3">
          Why faces?
        </div>
        <div class="sc-faq-answer">
          Faces are the first thing we typically judge when we look at dating apps. (Not all apps are just about faces, of course -- looking at you, Scruff!)
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          What if I'm vegetarian?
        </div>
        <div class="sc-faq-answer">
          ... sorry
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Were any animals harmed?
        </div>
        <div class="sc-faq-answer">
          Only humans, on a subtle, psychological level, constantly in our existing online-dating landscape.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Will this affect the way people swipe for me on dating apps?
        </div>
        <div class="sc-faq-answer">
          Individual results may vary. MeatFaces are remarkably good conversation pieces. That said, if you are interested in the #MoreThanMeat cause, but don’t want to jeopardize your dating game, please just post on social media instead!
          <br>
          <br>
          Just remember, swipe-based dating apps turn you into meat, and there are other options out there.
        </div>
        <br>       
        
      </div>
    </div>
  </body>
  
</html>