<!DOCTYPE html>
<html>
  <head>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" ref="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="sc-faq">
      <div class="sc-faq-container container">
        <div class="h1">FAQ</div>
        <div>If you don't see a question that you want to ask below, please reach us at meatface@siren.mobi</div>
        <div class="sc-faq-questions h3">
          Meet attractive people in your city?
        </div>
        <div class="sc-faq-answer">
          Susan is taking an app/UI design class through Gen. Assem. and was suggesting she could do some Yinte app work since it would tie in well with the curriculum. We should get back in touch with Reify and see if there’s any chance of OC still happening. I think it makes the most sense for her to do that if we have some actual gameplan with Yinte...
        </div>
        <div class="sc-faq-questions h3">
          Meet attractive people in your city?
        </div>
        <div class="sc-faq-answer">
          Susan is taking an app/UI design class through Gen. Assem. and was suggesting she could do some Yinte app work since it would tie in well with the curriculum. We should get back in touch with Reify and see if there’s any chance of OC still happening. I think it makes the most sense for her to do that if we have some actual gameplan with Yinte...
        </div>
      </div>
    </div>
  </body>
  
</html>