<!DOCTYPE html>
<html>
  <head>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" ref="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <% if (mobile == "true") { %>
      <link href="stylesheets/m_style.css" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div class="sc-faq">
      <div class="container"><a href="/"><div class="sc-faq-back">&larr; back</div></a></div>
      <div class="sc-faq-container container">
        
        <div class="h1" style="margin-top: 0px">FAQ</div>
        <div>If you don't see a question that you want to ask below, please reach us at meatface@siren.mobi</div>
        <br>
        
        <div class="sc-faq-questions h3">
          What is Meatface? 
        </div>
        <div class="sc-faq-answer">
        Meatface is a campaign to turn Tinder into a literal version of the meat shop it really is. Take a Meatface selfie on this site, and set it as your Tinder profile. Tinder’s entire interface is designed to objectify its users for easy swiping. Changing your profile to a meatface reclaims personal agency: the only time people should look at you like a piece of meat is if you choose it.  
        </div>
        <br>
        
        <div class="sc-faq-questions h3">
          How do we want things to change?
        </div>
        <div class="sc-faq-answer">
          Meatface is absurdist but at its core we are calling for a return to quality social interaction. We recognize that Tinder isn’t inherently bad, but the swipe paradigm has become synonymous with online dating as a whole, and there are other options available.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Who made Meatface?
        </div>
        <div class="sc-faq-answer">
          Meatface is a collaboration between Siren and Hello Velocity. Siren is on a mission to breathe new life into healthy online dating: don’t sell yourself, be yourself. You can check out Siren and more of their operating philosophy <a href="http://www.siren.mobi">here</a>. Hello Velocity thinks advertising is wasted on selling random shit via Facebook ads: they use marketing as a medium to create exciting content with real social value. Check out Hello Velocity’s work as both an artist group and an advertising studio <a href="http://www.hellovelocity.com">here</a>.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          How can people get involved?        
        </div>
        <div class="sc-faq-answer">
          Take a Meatface Selfie and share it! While we do want people to change their Tinder profiles, our main goal is to open a conversation about online dating. We want to see Meatfaces on Twitter and Facebook, screenshots of Meatface Tinder conversations, or even just your reactions to the campaign and how our online dating profiles can be #MoreThanMeat.
          <br>
          If you want to contact us, email Meatface@Siren.mobi
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Why Tinder?
        </div>
        <div class="sc-faq-answer">
          We know Tinder’s not a big bad wolf, nor is it even one of the most superficial dating apps these days, but Tinder has come to stand for all dating apps that use a swipe system. It was the first to go really big, and we feel is the best representative platform for this conversation.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Why meat?
        </div>
        <div class="sc-faq-answer">
          Meat has always been the go-to metaphor for objectification. After all, strip away information about person-ality and the human body is just meat to be shopped for. Or more accurately, meat with indicators about its wealth and social status, and my god, that’s even worse.
        </div>
        <br>
        
        <div class="sc-faq-questions h3">
          Why faces?
        </div>
        <div class="sc-faq-answer">
          On Tinder, the face is more often than not what determines snap judgements (it’s not always faces depending on the app of course-- looking at you, Scruff).
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          What if I'm vegetarion?
        </div>
        <div class="sc-faq-answer">
          [Tofu]Face? We'll try to detect from your facial features if you are indeed vegetarian. And if so, you're in for a treat.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Is it Kosher? Halal? Organic?
        </div>
        <div class="sc-faq-answer">
          I... I don't know what those would exactly mean in this context... 
        </div>
        <br>       
          
        <div class="sc-faq-questions h3">
          Were any animals harmed?
        </div>
        <div class="sc-faq-answer">
          Only humans, on a subtle, psychological level, constantly in our existing online-dating landscape.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Will this harm the way people swipe for me on Tinder?
        </div>
        <div class="sc-faq-answer">
          Individual results may vary. Meatfaces are remarkably good conversation pieces. That said, if you are interested in the #MoreThanMeat cause, but don’t want to jeopardize your Tinder account, please post from different social media.
          <br>
          Just remember, Tinder is for Meatfaces, and there are other options out there.
        </div>
        <br>       
        
      </div>
    </div>
  </body>
  
</html>