<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #ea0047;
        color: white;
        font-family: Helvetica;
        text-align: center;
        font-size: 14px;
      }  
      input ,
      button {
        background-color: #ea0047;
        color: white;
        border: 1px solid white;
        padding: 0px;
      }
      input {
        height: 24px;
        padding-left: 2px;
        padding-right: 2px;
      }
      input:focus {
        outline: none;
      }
      button {
        height: 26px;
        width: 48px;
      }
      .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      /* TODO this is not wokring */
      <% if (mobile == "true") { %>
      body {
        font-size: 5vw;
      }
      .content {
        width: 90vw;
      }
      input {
        height: 8vw;
        width: 45vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
      button {
        height: 9vw;
        width: 25vw;
      }
      button, input {
        vertical-align: top;
        font-size: 5vw;
        line-height: 5vw;
        border: 0.5vw solid white;
      }
      <% } %>
    </style>
    <script>

      if (window.location.protocol != "https:") {
        window.location.href = "https://"+window.location.host;
      }

    </script>
  </head>
  <body>
    <div class="content">
      <div><strong>MeatFace launches June 20th, 2016</strong></div>
      <br>
      <div class="">
        Please enter the password to preview:
      </div>
      <br>
      <form name="password" method="post" action="/">
        <input type="password" name="password">
        <button>Submit</button>
      </form>
      <br>
      <% if (access == "denied") { %>
        <strong>Access Denied. Try again.</strong>
      <% } %>
    </div>
  </body>
</html>