<!DOCTYPE html>
<html>
  <head>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" ref="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <link href="stylesheets/style.css" rel="stylesheet">
    <% if (mobile == "true") { %>
      <link href="stylesheets/m_style.css" rel="stylesheet">
    <% } %>
    
    <script>
      /*
      if (window.location.protocol != "https:") {
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
      }
      */
      // Load the Facebook SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
      <% if (mobile == "true") { %>
      var mobile = true;
      <% } else { %>
      var mobile = false;
      <% } %>
      
    </script>
  </head>
    
  <body>
    <!-- jquery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- bootstrap library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- async library -->
    <script src="javascripts/async.min.js"></script>
    <!-- My .js Files -->
    <script src="javascripts/util.js"></script>
    <script src="javascripts/facebook.js"></script>
    <script src="javascripts/twitter.js"></script>
    <script src="javascripts/meat_image.js"></script>
    <script src="javascripts/face.js"></script>
  
    <!-- this is used in the Util module for the getImageFromUrl function-->
    <img style="display:none" src="" id="imageUrl">
                
    <!-- Modal to upload image -->
    <div class="modal uploadModal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Choose A Selfie</h4>
          </div>
          <div class="modal-body">
            
            <% if (mobile == "true") { %>
            <label class="sc-upload-label">
              <input class="inline-block" type="file" id="loader" class="btn btn-default sc-loader" >
              <span style="width:120px;" class="btn btn-default">Upload File</span>
            </label>
            <% } else { %>
            <div class="row">
              <div class="col-xs-6">
                <input type="button" style="width:120px;" class="btn btn-default" id="webcamLoader" value="Use Webcam">
              </div>
              <div class="col-xs-6">
                <label class="sc-upload-label">
                  <input class="inline-block" type="file" id="loader" class="btn btn-default sc-loader" >
                  <span style="width:120px;" class="btn btn-default">Upload File</span>
                </label>
              </div>
            </div>
            <% } %>
            
            <hr>
            
            <div class="sc-fb-wrapper">
              <div class="inline-block">Upload from Facebook:</div>
              <div class="sc-fb-button inline-block">
                <fb:login-button <% if (mobile == "true") { %>data-size="xlarge"<% } %> scope="public_profile, user_photos" onlogin="checkLoginState();">
                </fb:login-button>
                <span id="status"></span>
              </div>
              <div class="sc-fb-profile-pictures">
                <div class="sc-fb-profile-picture-options"></div>
                <img class="sc-fb-profile-picture" src="">
                <input id="fbLoader" class="sc-fb-profile-picture-submit btn btn-default" type="button" value="Submit"/>
              </div>
            </div>
            
            <% if (mobile == "true") { %>
            <% } else { %>
            <hr>
            <div class="row">
              <div class="col-xs-8">
                <input type="text" class="form-control sc-urlLoaderInput" id="inputKey" placeholder="URL Link to image" style="margin-right:12px;">
              </div>
              <div class="col-xs-1"></div>
              <div class="col-xs-3">
                <input id="urlLoader" type="button" class="btn btn-default" value="Submit"/>
              </div>
            </div>
            <% } %>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-intro-right sc-intro">
        <div class="sc-absolute-center sc-banner">
          <div class="h1">
            WONDER HOW OTHERS SEE YOU ON TINDER? <br><br> Take a selfie.
          </div>
          <div class="h3">Our proprietary meatface algorithm provides the most accurate reflection of how you really appear to others.</div>
        </div> 
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-intro-left sc-intro">
        
        <% if (mobile == "true") { %>
        <div class="sc-device">
        <% } else { %>
        <div class="sc-absolute-center sc-device">
        <% } %>
          
          <div id="loading-screen" class="sc-loading-screen">
            <img class="sc-loading-screen-icon" src="images/loading.gif">
          </div>         
          
          <!-- Canvas -->
          <div class="sc-canvas-wrapper">
            
            <button type="button" class="btn btn-primary sc-load-image" data-toggle="modal" data-target=".uploadModal">New Image</button>
            
            <div class="sc-camera">
              <img src="/images/camera_icon.png">
              <div class="h3">#morethanmeat</div>
            </div>
            
            <canvas id="canvas-back" class="sc-canvas"></canvas>
            <canvas id="canvas-front" class="sc-canvas"></canvas>
            
            <% if (mobile != "true") { %>
            <video autoplay="true" id="video-stream" class="sc-video-stream" style="display:none"></video>
            <button type="button" class="sc-take-picture">Take Picture</button>
            <% } %>
            
            <a id="download-canvas" download="Canvas.png" href="#" 
              style="display: none;">
              <div class="sc-download">
                <i class="fa fa-download" aria-hidden="true"></i>
              </div>
            </a>
            
          </div>
          
          <!-- Share -->
          <div class="">
            <div class="sc-share-button" id="fb-share">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div> 
            <div class="sc-share-button" id="twitter-share">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div> 
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="sc-call-to-action">
      <div class="h1">Take a photo. Join the movement.</div>
      <div class="h3">#MORETHANMEAT</div>
    </div>
    
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-body-left sc-body">
        <div class="sc-absolute-center sc-banner">
          <div class="h1">It's time to come to terms with the swipe. </div>
          <div class="h3">The only time people should look at you like a piece of meat is if you choose it.</div>
        </div>
      </div>
      
      <% if (mobile == "true") { %>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-body-left">
      <% } else { %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-body-left sc-body">
      <% } %> 
        <div class="sc-body-right-top sc-body-maker">
          <!--<div class="sc-tag sc-tag-siren">
            1. MEAT THE MAKER
          </div>-->
          <% if (mobile == "true") { %>
          <br>
          <div class="">
            <div class="sc-maker-logo-wrapper">
              <img src="images/siren_logo.png" class="sc-maker-logo sc-maker-logo-siren" /> 
            </div>
            <div class="sc-maker-desc sc-maker-desc-siren">
              <div class="h3">Siren</div> 
              <div class="h4">
                The only time people should look at you like a piece of meat is if you choose it.
              </div>
            </div>  
          </div>
          <br>
          <br>
          <% } else { %>
          <div class="sc-absolute-center sc-maker-wrapper">
            <div class="row">
              <div class="col-xs-3 center">
                <img src="images/siren_logo.png" class="sc-maker-logo sc-maker-logo-siren" /> 
              </div>
              <div class="col-xs-9">
                <div class="sc-maker-desc sc-maker-desc-siren">
                  <div class="h3">
                    <a href="http://www.siren.mobi" target="_blank">Siren</a>
                  </div>
                  <div class="h4">
                    The only time people should look at you like a piece of meat is if you choose it.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
                
        </div>
        
        <div class="sc-body-right-bottom sc-body-maker">
          <!--<div class="sc-tag sc-tag-hv">
            2. MEAT THE MAKER
          </div>-->
          <% if (mobile == "true") { %>
          <br>
          <div class="">
            <div class="sc-maker-logo-wrapper">
              <img src="images/hv_logo.png" class="sc-maker-logo sc-maker-logo-hv" /> 
            </div>
            <div class="sc-maker-desc sc-maker-desc-hv">
              <div class="h3">Hello Velocity</div> 
              <div class="h4">
                The only time people should look at you like a piece of meat is if you choose it.
              </div>
            </div>  
          </div>
          <br>
          <br>
          <% } else { %>
          <div class="sc-absolute-center sc-maker-wrapper">
            <div class="row">
              <div class="col-xs-3 center">
                <img src="images/hv_logo.png" class="sc-maker-logo sc-maker-logo-hv" /> 
              </div>
              <div class="col-xs-9">
                <div class="sc-maker-desc sc-maker-desc-hv">
                  <div class="h3">
                    <a href="http://www.hellovelocity.com" target="_blank">Hello Velocity</a>
                  </div>
                  <div class="h4">
                    The only time people should look at you like a piece of meat is if you choose it.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    
    <div class="sc-footer h3">
      <% if (mobile == "true") { %>
      <div class="sc-faq-wrapper">
        <a href="/faq">F . A . Q</a>
      </div> 
      <div class="sc-fb-like-wrapper">
        <div
            class="fb-like"
            data-layout="button"
            data-action="like"
            data-share="true"
            data-width="200"
            data-show-faces="false">
          </div>
      </div>
      <% } else { %>
      <div class="row">
        <div class="sc-footer-left col-xs-6">
          <a href="/faq">F . A . Q</a>
        </div>
        <div class="sc-footer-right col-xs-6">
          <div
            class="fb-like"
            data-layout="button"
            data-action="like"
            data-share="true"
            data-width="200"
            data-show-faces="false">
          </div>
        </div>
      </div>
      <% } %>
      <style>
        .fb-like{
          height: 30px;
          overflow: hidden;
        }
      </style>
    </div>
  </body>

  <script src="javascripts/index.js"></script>
  
</html>