<!DOCTYPE html>
<html>
  <head>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" ref="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <link href="stylesheets/style.css" rel="stylesheet">
    <% if (mobile == "true") { %>
      <link href="stylesheets/m_style.css" rel="stylesheet">
    <% } %>
    
    <script>

      /*
      if (window.location.protocol != "https:") {
        window.location.href = "https://www.meatface.me";
      }
      */

      // Load the Facebook SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
      <% if (mobile == "true") { %>
      var mobile = true;
      <% } else { %>
      var mobile = false;
      <% } %>
      
    </script>
  </head>
    
  <body>
    <!-- jquery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- bootstrap library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- async library -->
    <script src="javascripts/async.min.js"></script>
    <!-- megapix library -->
    <script src="javascripts/megapix.js"></script>
    <!-- image loader library -->
    <script src="javascripts/load-image.all.min.js"></script>
    <!-- My .js Files -->
    <script src="javascripts/util.js"></script>
    <script src="javascripts/facebook.js"></script>
    <script src="javascripts/twitter.js"></script>
    <script src="javascripts/meat_image.js"></script>
    <script src="javascripts/face.js"></script>
  
    <!-- this is used in the Util module for the getImageFromUrl function-->
    <img style="display:none" src="" id="imageUrl">
    
    <!-- Entry overlay -->
    <div class="sc-overlay" id="sc-overlay">
      <div class="row">
        
        <% if (mobile != "true") { %>
        <div class="sc-overlay-content sc-overlay-content-left col-sm-4 col-xs-0">
          <div class="sc-overlay-center">
            <img src="/images/tinder-sample.png"> 
          </div>
        </div>
        <% } %>
        
        <div class="sc-overlay-content col-sm-8 col-xs-12">
          <div class="sc-overlay-center sc-overlay-text">
            <span class="h1 sc-thin">What if for a day</span>
            <br> 
            <br> 
            <span class="h1 sc-thin">Tinder was a meat counter display?</span>
            <br>
            <br> 
            <span class="h1">Oh wait... it is that way.</span>
            <br>
            <br> 
            <div class="h2 sc-overlay-enter sc-thin">Enter</div>    
          </div>
        </div>
        
      </div>
    </div>
    <script>
      $("body").css("overflow", "hidden");
      $("body").addClass("fixed");
      $(".sc-overlay-enter").click(function() {
        $(".sc-overlay").slideUp();  
        $("body").css("overflow", "auto");
        $("body").removeClass("fixed");
      });
    </script>
                
    <!-- Modal to upload image -->
    <div class="modal uploadModal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Choose A Selfie</h4>
          </div>
          <div class="modal-body">
            
            <% if (mobile == "true") { %>
            <label class="sc-upload-label">
              <input class="inline-block" type="file" id="loader" class="btn btn-default sc-loader" >
              <span style="width:120px;" class="btn btn-default">Upload File</span>
            </label>
            <% } else { %>
            <div class="row">
              <div class="col-xs-6">
                <input type="button" style="width:120px;" class="btn btn-default" id="webcamLoader" value="Use Webcam">
              </div>
              <div class="col-xs-6">
                <label class="sc-upload-label">
                  <input class="inline-block" type="file" id="loader" class="btn btn-default sc-loader" >
                  <span style="width:120px;" class="btn btn-default">Upload File</span>
                </label>
              </div>
            </div>
            <hr>
            <% } %>
            
            
            <div class="sc-fb-wrapper">
              <div class="inline-block">Upload from Facebook:</div>
              <% if (mobile != "true") { %> <br> <% } %>
              <br>
              <div class="sc-fb-button inline-block">
                <fb:login-button <% if (mobile == "true") { %>data-size="xlarge"<% } %> scope="user_photos,public_profile" onlogin="checkLoginState();">
                </fb:login-button>
                <span id="status"></span>
              </div>
              <div class="sc-fb-profile-pictures">
                <div class="sc-fb-profile-picture-options"></div>
                <img class="sc-fb-profile-picture" src="">
                <input id="fbLoader" class="sc-fb-profile-picture-submit btn btn-default" type="button" value="Submit"/>
              </div>
              <% if (mobile == "true") { %> <br> <% } %>
            </div>
            
            <% if (mobile == "true") { %>
            <% } else { %>
            <hr>
            <div class="row">
              <div class="col-xs-8">
                <input type="text" class="form-control sc-urlLoaderInput" id="inputKey" placeholder="URL Link to image" style="margin-right:12px;">
              </div>
              <div class="col-xs-1"></div>
              <div class="col-xs-3">
                <input id="urlLoader" type="button" class="btn btn-default" value="Submit"/>
              </div>
            </div>
            <% } %>
            
          </div>
        </div>
      </div>
    </div>
    
    <% if (mobile == "true") { %>
    <div class="sc-mobile-warning">
      <div class="row">
        <div class="col-xs-10">Use Chrome on desktop for the best experience.</div>
        <div class="col-xs-2" id="close-mobile-warning"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></div>
      </div>
    </div>
    <script>
      $("#close-mobile-warning").click(function() {
        $(".sc-mobile-warning").slideUp();  
      });
    </script>
    <% } %>
    
    <div class="row">
      
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-intro-left sc-intro">
        <% if (mobile == "true") { %>
        <div class="sc-banner">
        <% } else { %>
        <div class="sc-absolute-center sc-banner">
        <% } %>
          <div class="h1" style="margin-top: 0px;">How to Hack Tinder</div>
          <% if (mobile == "true") { %> <br> <% } %>
          <div class="h3">
            <div class="row">
              <div class="col-xs-1">1.</div>
              <div class="col-xs-10">Take a selfie and make a MeatFace.</div>
            </div>
          </div>
          <div class="h3">
            <div class="row">
              <div class="col-xs-1">2.</div>
              <div class="col-xs-10">Download your new MeatFace and set it as your Tinder profile picture.</div>
            </div>
          </div>
          <div class="h3">
            <div class="row">
              <div class="col-xs-1">3.</div>
              <div class="col-xs-10">Flood Tinder with MeatFaces by spreading the word.</div>
            </div>
          </div>
          <% if (mobile == "true") { %> <br> <% } %>
          <div class="h3">
            <strong>Lets turn Tinder into the meatshop that it really is!</strong>
          </div>
        </div> 
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-intro-right sc-intro">
        
        <% if (mobile == "true") { %>
        <div class="sc-device">
        <% } else { %>
        <div class="sc-absolute-center sc-device">
        <% } %>
          
          <div id="loading-screen" class="sc-loading-screen">
            <img class="sc-loading-screen-icon" src="images/loading.gif">
          </div>         
          
          <!-- Canvas -->
          <div class="sc-canvas-wrapper">
            
            <button type="button" class="btn btn-primary sc-load-image" data-toggle="modal" data-target=".uploadModal">New Image</button>
            
            <div class="sc-camera" id="sc-camera">
              <img src="/images/camera_icon.png">
              <div class="h3">Take A Selfie!</div>
            </div>
            <script>
              $(document).ready(function() {
                $("#sc-camera").click(function(){
                  $(".uploadModal").modal("toggle");
                });
              });
            </script>
            
            <canvas id="canvas-back" class="sc-canvas"></canvas>
            <canvas id="canvas-front" class="sc-canvas"></canvas>
            
            <% if (mobile != "true") { %>
            <video autoplay="true" id="video-stream" class="sc-video-stream" style="display:none"></video>
            <button type="button" class="sc-take-picture">Take Picture</button>
            <% } %>
            
            <a id="download-canvas" download="Canvas.png" href="#" 
              style="display: none;">
              <div class="sc-download">
                <i class="fa fa-download" aria-hidden="true"></i>
              </div>
            </a>
            
          </div>
          
          <!-- Share -->
          <div class="">
            <div class="sc-share-button" id="fb-share">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <div class="sc-share-text">Share</div>
            </div> 
            <div class="sc-share-button" id="twitter-share">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <div class="sc-share-text">Tweet</div>
            </div> 
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="sc-call-to-action">
      <div class="h1">Take a photo. Fight The Swipe.</div>
      <div class="h3">#MORETHANMEAT</div>
    </div>
    
    <div class="row"">
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-body-left sc-body">
        <div class="sc-absolute-center sc-banner">
          <div class="h1">It's time to come to terms with the swipe. </div>
          <div class="h3">The only time people should look at you like a piece of meat is if you choose it.</div>
        </div>
      </div>
      
      <% if (mobile == "true") { %>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-body-left">
      <% } else { %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 
        sc-body-left sc-body">
      <% } %> 
        <div class="sc-body-right-top sc-body-maker">
          <!--<div class="sc-tag sc-tag-siren">
            1. MEAT THE MAKER
          </div>-->
          <% if (mobile == "true") { %>
          <br>
          <div class="">
            <div class="sc-maker-logo-wrapper">
              <img src="images/siren_logo.png" class="sc-maker-logo sc-maker-logo-siren" /> 
            </div>
            <div class="sc-maker-desc sc-maker-desc-siren">
              <div class="h3" style="margin-bottom: 4vw;"><a href="http://www.siren.mobi">Siren</a></div> 
              <div class="h4">
                Other dating apps make you sell yourself. Siren lets you be yourself.
                <br>
                <br>
                Siren is the first dating app based around thoughtful interaction with the people around you and organic relationship growth.
              </div>
            </div>  
          </div>
          <br>
          <br>
          <% } else { %>
          <div class="sc-absolute-center sc-maker-wrapper">
            <div class="row">
              <div class="col-xs-3 center">
                <img src="images/siren_logo.png" class="sc-maker-logo sc-maker-logo-siren" /> 
              </div>
              <div class="col-xs-9">
                <div class="sc-maker-desc sc-maker-desc-siren">
                  <div class="h4">
                    <a href="http://www.siren.mobi" target="_blank">Siren</a>
                  </div>
                  <div class="h5">
                    Other dating apps make you sell yourself. Siren lets you be yourself.
                    <br>
                    <br>
                    Siren is the first dating app based around thoughtful interaction with the people around you and organic relationship growth.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
                
        </div>
        
        <div class="sc-body-right-bottom sc-body-maker">
          <!--<div class="sc-tag sc-tag-hv">
            2. MEAT THE MAKER
          </div>-->
          <% if (mobile == "true") { %>
          <br>
          <div class="">
            <div class="sc-maker-logo-wrapper">
              <img src="images/hv_logo.png" class="sc-maker-logo sc-maker-logo-hv" /> 
            </div>
            <div class="sc-maker-desc sc-maker-desc-hv">
              <div class="h3" style="margin-bottom: 4vw;">Hello Velocity</div> 
              <div class="h4">
                Hello Velocity designs brand identities for companies that do things differently, and creates campaigns to share their ideas with the world. 
                <br>
                <br>
                As a creative studio that grew out of an artist collective, Hello Velocity also runs its own experimental campaigns that explore how information spreads in the social age.
              </div>
            </div>  
          </div>
          <br>
          <br>
          <% } else { %>
          <div class="sc-absolute-center sc-maker-wrapper">
            <div class="row">
              <div class="col-xs-3 center">
                <img src="images/hv_logo.png" class="sc-maker-logo sc-maker-logo-hv" /> 
              </div>
              <div class="col-xs-9">
                <div class="sc-maker-desc sc-maker-desc-hv">
                  <div class="h4">
                    <a href="http://www.hellovelocity.com" target="_blank">Hello Velocity</a>
                  </div>
                  <div class="h5">
                    Hello Velocity designs brand identities for companies that do things differently, and creates campaigns to share their ideas with the world. 
                    <br>
                    <br>
                    As a creative studio that grew out of an artist collective, Hello Velocity also runs its own experimental campaigns that explore how information spreads in the social age.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    
    <div class="sc-footer h3">
      <% if (mobile == "true") { %>
      <div class="row">
        <div class="col-xs-6" style="padding: 2vw">
          <div class="sc-faq-wrapper">
            <a href="/faq">F.A.Q</a>
          </div> 
        </div>
        <div class="col-xs-6" style="padding: 2vw">
          <div class="sc-pp-wrapper">
            <a href="/privacy">Privacy</a>
          </div>
        </div>
      </div>
      <div class="sc-fb-like-wrapper">
        <div
            class="fb-like"
            data-layout="button"
            data-action="like"
            data-share="true"
            data-width="200"
            data-show-faces="false">
          </div>
      </div>
      <% } else { %>
      <div class="row">
        <div class="sc-footer-left col-xs-6">
          <a href="/faq">FAQ</a> / <a href="/privacy">Privacy Policy</a>
        </div>
        <div class="sc-footer-right col-xs-6">
          <div
            class="fb-like"
            data-layout="button"
            data-action="like"
            data-share="true"
            data-width="200"
            data-show-faces="false">
          </div>
        </div>
      </div>
      <% } %>
      <style>
        .fb-like{
          height: 30px;
          overflow: hidden;
        }
      </style>
    </div>
  </body>

  <script src="javascripts/index.js"></script>
  
</html>