<!DOCTYPE html>
<html>
  <head>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" ref="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <% if (mobile == "true") { %>
      <link href="stylesheets/m_style.css" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div class="sc-faq">
      <div class="container"><a href="/"><div class="sc-faq-back">&larr; back</div></a></div>
      <div class="sc-faq-container container">
        
        <div class="h1" style="margin-top: 0px">Privacy Policy</div>
        <div>Last Updated: May 25th, 2016</div>
        <br>
        
        <div class="sc-faq-answer">
          My company, Hello Velocity LLC operates https://www.meatface.me. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the site.
        </div>
        <br>
        
        <div class="sc-faq-answer">
          We use your Personal Information only for providing the intended experience of the Site. By using the Site, you agree to the collection of your information in accordance with this policy.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Information Collection And Use
        </div>
        <div class="sc-faq-answer">
          While using our Site, we may ask you to upload images. The website will not require you to provide us with any further Personal Information. The information we collect is not Personally Identifiable. One way of uploading an image is through Facebook - you may be prompted to sign up so that we can use images from your Facebook account. We do not store or log any of this data.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Log Data
        </div>
        <div class="sc-faq-answer">
          Like many site operators, we collect information that your browser sends whenever you visit our Site. We do this using a third party service - Google Analytics, which collects information such as your browser type, browser version, the time and date of your visit and time spend on the page, among various other statistics. Google Analytics will collect, monitor and analyze this data.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Cookies
        </div>
        <div class="sc-faq-answer">
          This website does not use cookies.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Security
        </div>
        <div class="sc-faq-answer">
          The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
        </div>
        <br>
        
        <div class="sc-faq-questions h3">
          Changes To This Privacy Policy
        </div>
        <div class="sc-faq-answer">
          This Privacy Policy is effective as of May 27th, 2016 and will remain in effect except with respect to any
          changes in its provisions in the future, which will be in effect immediately after being posted on this
          page.
          
          We reserve the right to update or change our Privacy Policy at any time and you should check this
          Privacy Policy periodically. Your continued use of the Service after we post any modifications to the
          Privacy Policy on this page will constitute your acknowledgment of the modifications and your
          consent to abide and be bound by the modified Privacy Policy.
          
          If we make any material changes to this Privacy Policy, we will notify you by placing a prominent notice on our website.
        </div>
        <br>
         
        <div class="sc-faq-questions h3">
          Contact Us
        </div>
        <div class="sc-faq-answer">
          Please contact us if you have any questions about this Privacy Policy at <a href="mailto:meaface@siren.mobi">meatface@siren.mobi</a>
        </div>
        <br>
        
      </div>
    </div>
  </body>
  
</html>