body {
  font-size: 3vw;
}
.h1 {
  font-size: 9vw;
  line-height: 12vw;
}
.h2 {
  font-size: 7vw;
  line-height: 9vw;
}
.h3 {
  font-size: 5vw;
  line-height: 7vw;
}
.h4 {
  font-size: 3vw;
  line-height: 4vw;
}
.sc-intro-left {
  background-size: 25vw;
  background-image: none;
  margin-top: 100vh;
  height: 70vh;
}
.sc-banner {
  color: #333;
}
.sc-intro-right {
  background-color: white;
  background-image: url('/images/bg_tile.png');
  background-repeat: repeat;
  background-size: 50vw;
  position: fixed;
  z-index: -10;
}
.sc-banner .h1 {
  text-shadow: 8px 8px white;
}
.sc-banner .h3 {
  text-shadow: 4px 4px white;
}
.sc-device {
  width: 90vw;
  height: 112vw;
  padding: 5vw;
  box-shadow: 0vw 0vw 0 #ea0047;
}
.sc-camera img {
  width: 25vw;
}
.sc-canvas-wrapper {
  width: 80vw;
  height: 80vw;
}
.sc-canvas {
  width: 80vw;
  height: 80vw;
}
.sc-load-image {
  width: 34vw;
  height: 12vw;
  font-size: 4vw;
  top: 3vw;
  left: 3vw;
  background-color: rgba(234,0,71,1.0);
}
.sc-download {
  border-radius: 12vw;
  top: 3vw;
  right: 3vw;
  height: 12vw;
  width: 12vw;
  line-height: 12vw;
  font-size: 5vw;
}
.sc-share-button {
  border-radius: 20vw;
  height: 20vw;
  line-height: 16vw;
  width: 20vw;
  border: 2vw solid #ccc;
  margin: 3vw;
  font-size: 8vw;
}
.sc-share-button.active {
  border: 2vw solid #2ff1ee;
}
.sc-intro,
.sc-intro-left {
  height: inherit;
}
.sc-intro-right {
  height: 100vh;
}
.sc-device {
  margin: 5vw auto;
}
.sc-body,
.sc-intro {
  max-height: inherit;
}
.sc-body-maker {
  height: auto;
}
.sc-maker-logo-wrapper {
  width: 100vw;
  text-align: center;
}
.sc-maker-logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 24vw;
  height: 24vw;
  border-radius: 24vw;
}
.sc-maker-desc {
  width: 80vw;
  margin-left: 10vw;
  padding: 3vw;
}
.sc-maker-desc-hv {
  box-shadow: 2vw 2vw 0px rgba(0, 0, 0, 0.4);
}
.sc-maker-desc-siren {
  box-shadow: 2vw 2vw 0px white;
  border: 1vw solid #ea0047;
}
.sc-faq-wrapper,
.sc-fb-like-wrapper {
  width: 100%;
  text-align: center;
}
.sc-faq-wrapper {
  border: 1vw solid #ea0047;
  padding: 3vw;
}
.sc-faq-wrapper a {
  color: #ea0047;
}
.modal-dialog {
  width: 100vw;
  margin-top: 0px;
}
.modal-header {
  height: 10vh;
  padding: 0px;
}
.modal-header button {
  font-size: 10vw;
  line-height: 15vw;
  padding-right: 5vw;
}
.modal-title {
  font-size: 6vw;
  line-height: 10vh;
  padding-left: 5vw;
}
.modal-body {
  padding: 0px;
  font-size: 4vw;
}
.modal-body hr {
  height: 0.5vw;
  background-color: #ea0047;
}
.sc-fb-wrapper {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.sc-upload-label span {
  width: 80vw !important;
  margin: 5vw;
  height: 12vw;
  line-height: 12vw;
  font-size: 4vw;
  border: 0.5vw solid #ea0047;
  padding: 0px;
}
.fb_iframe_widget_fluid span {
  vertical-align: top ;
}
.sc-fb-profile-picture-options {
  width: 80vw;
  height: 16vw;
}
.sc-fb-profile-picture-option {
  width: 16vw;
  height: 16vw;
}
.sc-fb-profile-picture {
  width: 80vw;
  height: 80vw;
}
.sc-fb-profile-picture-submit {
  width: 50vw;
  height: 10vw;
  font-size: 4vw;
  color: #ea0047;
  background: white;
  margin-bottom: 4vw; 
}
.sc-faq-back {
  height: 5vh;
  line-height: 5vh;
  width: 20vw;
  color: white;
}
.sc-mobile-warning {
  background-color: #ea0047;
  position: fixed;
  height: 10vh;
  line-height: 10vh;
  color: white;
  width: 100vw;
  font-size: 3.2vw;
  text-align: center;
  z-index: 1000;
}